<?xml version="1.0" encoding="ISO-8859-1" ?>
<parcelles.config>
  <logger>
    <appender>
      <textfile value="T:\Temp\logs_%d.txt" />
    </appender>
  </logger>

  <logs>
    <useLogs value="true" />
  </logs>

  <serialise>
    <json>
		<file value="T:\Temp\GestionExploitants.json" />
    </json>
  </serialise>

  <gmail>
    <user>
      <login value="unMail@epsi.fr" />
      <password value="motdepasse" />
    </user>
    <sendTo>
      <mail value="encoreUnMail@epsi.fr" />
    </sendTo>
  </gmail>

</parcelles.config>

